@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');  
@import './css/dashboard.css';
@import './css/homepage.css';
@import './css/login.css';
@import './css/profile.css';
@import './css/signup.css';
@import './css/navbar.css';
@import './css/footer.css';
@import './css/sidebar.css';

*{
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}