#event-container {
  width: 100%;
  height: 100%;
  min-height: 30%;
  overflow-y: scroll;
}

#event-container__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#event-container__header {
  padding-top: 25px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 15px;
  background-color: rgb(1, 65, 120, 0.5);
  border-radius: 7px;
  width: 450px;
  color: white;
  text-decoration: underline;
}

#meeting-container__info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(1, 65, 120, 0.5);
  border-radius: 7px;
}

#meeting-container__info-details {
  width: 450px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-weight: 500;
}
