#homepage__main{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  background-color: #F1F1E6;
}

#homepage__top{
  height: 25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#homepage__banner{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#homepage__middle{
  height: 50%;
}

#homepage__bottom{
  height:25%;
}