#map-container {
  width: 100%;
  height: 40%;
  border: 1px solid gray;
}

.map-container__search {
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  max-width: 350px;
  z-index: 10;
}

.map-container__search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.map-container__search input:focus {
  border: 1px solid #014178;
}

.map-container__compass {
  position: absolute;
  top: 72.5px;
  right: 360px;
  background: none;
  border: none;
  z-index: 10;
  width: 30px;
  cursor: pointer;
  color: #014178;
}
