#meetings__table-header {
  min-height: 45px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 35;
  border: 1px solid gray;
}

#meetings__table-header-check {
  padding-left: 18px;
  padding-top: 10px;
}

#meetings__table-label {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 100%;

  margin-top: 10px;

  font-weight: 500;
  border-top: 1px solid black;
}

.meetings-container__label {
  margin-right: 15px;
  border-right: 1px solid black;
}

#meetings-container {
  width: 100%;
  height: 60%;
  min-height: 30%;
  overflow-y: scroll;
}

#meetings-container__table {
  height: 100%;
  width: 100%;
  min-height: 25%;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 165px;
}

#meetings-container__meeting {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 100%;
  height: 75px;
  border: solid 1px gray;
}

#meetings-container__meeting2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 100%;
  height: 75px;
  border: solid 1px gray;
  background-color: rgb(1, 65, 120, 0.5);
}

.meetings-container__text {
  margin-right: 15px;
  padding-top: 5px;
  border-right: 1px solid black;
}

.meetings-container__link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  text-decoration: none;
}

.fa-arrow-circle-right {
  color: #014178;
}

.fa-arrow-circle-right:hover {
  color: #012546;
}
