#meetings-container {
  width: 100%;
  height: 60%;
  border: 1px solid gray;
  background-color: cadetblue;
}

#meetings-container__header {
  /* position: -webkit-sticky; */
  /* position: sticky; */
  height: 75px;
  width: 100%;
}

#meetings-container__grid {
  /* margin-top: 100px; */
  height: 100%;
  flex-direction: column;
}

#meetings-container__meeting {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
}
