#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.75);
}

#profile-container__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#profile-container__top-banner {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-image: url("https://odaat-app.s3.amazonaws.com/users/555/banner_pictures/keeb.jpg"); */

  border: 1px solid gray;
}

#profile-container__top-default {
  height: 150px;
  width: 100%;
  background-image: url("https://odaat-app.s3.amazonaws.com/odaat_stock/banner-no-b.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}

#profile-container__middle {
  width: 90%;
  height: 75%;
  margin-top: 30px;
  padding-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}

#profile-container__middle-upper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  min-height: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  margin-bottom: 15px;
}

#profile-container__user-info {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.profile-container__pic {
  height: 100%;
  width: 35%;
}

#profile-container__default-avatar {
  background-image: url("https://odaat-app.s3.amazonaws.com/odaat_stock/aa-icon-no-bg.png");
  background-size: 75px 75px;
  background-position: center;
  background-repeat: no-repeat;
}

#profile-container__user-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#profile-title {
  font-weight: 500;
}

#profile-container__user-buttons {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 12.5px;
}

#button-style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-size: 13px;
  width: 130px;
  min-width: 100px;
  height: 30px;
  border-radius: 10px;
}

.fa-pencil .fa-picture-o {
  padding-right: 5px;
}

#button-link {
  text-decoration: none;
  color: #014178;
}

#button-link:hover {
  text-decoration: underline;
  color: #012e55;
}

#profile-container__middle-lower {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

#profile-container__middle-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

#profile-container__bio {
  min-width: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 15px;
}

#profile-container__interests {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 15px;
}

#profile-container__middle-right {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}

#profile-container__events {
  min-width: 75%;
  width: 100%;
  height: 35%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 15px;
}

#profile-container__event-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  border: solid 1px gray;
  font-size: 11px;
}

#profile-container__event-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  font-size: 11px;

  border: solid 1px gray;
  background-color: rgb(1, 65, 120, 0.5);
}

.profile-container__event-text {
  text-align: center;
  height: 45px;
  padding-left: 5px;
}

.profile-container__event-address {
  text-align: center;

  min-width: 95px;
  height: 45px;
  padding-left: 5px;
}

#profile-container__events {
  min-width: 75%;
  width: 100%;
  height: 35%;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 15px;
  margin-bottom: 15px;
}

#profile-container__follow {
  min-width: 75%;
  width: 100%;
  height: 35%;
  min-height: 150px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(230, 230, 250, 0.5), 0 0 5px rgba(230, 230, 250, 0.5);
  padding: 15px;
}
