#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
}

#profile-container__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#profile-container__top-banner {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid gray;
}

#profile-container__middle {
  width: 90%;
  height: 75%;
  border: 1px solid gray;
  margin-top: 45px;
  padding-bottom: 65px;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
}

#profile-container__middle-upper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#profile-container__user-details {
  height: 100%;
  width: 50%;
}

#profile-container__user-buttons {
  height: 100%;
  width: 50%;
}

#profile-container__middle-lower {
  width: 100%;
  height: 80%;
}

#profile-page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  background-color: #e9e9e9;
  text-align: center;
}

#profile-avatar {
  background-image: url("/user_avatar.png");
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-bottom: 15px;
}
#profile-navbar {
  width: 100%;
  height: 50px;
  border: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.active-display {
  border-bottom: 3px solid #028858;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#profile-navbar-link {
  font-weight: 500;
  padding-left: 1px;
  cursor: pointer;
}

#link-number {
  color: #028858;
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-left: 2px;
}

#profile-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
