#sidebar-container {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
}

#sidebar-container__links {
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 75px;
  padding-right: 50px;
}

.sidebar-container__link {
  color: #014178;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 15px;
}

.sidebar-container__link:hover {
  color: #012546;
  text-decoration: underline;
}
